$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$bg-color: white;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bg-color;
}

.container {
	outline: 0px;
}

.welcomeView {
	outline: 0px;
}

.settingsView {
	outline: 0px;
}

.searchView {
	outline: 0px;
}

.downloadsView {
	outline: 0px;
}

.aboutView {
	outline: 0px;
}