@{
    Layout = "master.html";
}

@Include("main_menu.html", "Downloads")

<div class="row">
	<div class="span12">
		<h2 class="downloads-list">Current Downloads</h2>
		<ul class="downloads-list">
		@foreach (var item in Model)
		{
			<li torrent-id="@item.TorrentId">@item.TorrentName <span class="progress">Progress: @item.PercentDownloaded</span>% <span class="state">@item.TorrentState</span></li>
		}
		</ul>
	</div>
</div>

@section scripts
{  
    <script type="text/javascript">
        $(function () {
            app.startProgressPolling();
        });
    </script>
}