<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Splash</title>
    <link rel="stylesheet" type="text/css" href="/Site/Styles/app.css">
  </head>
  <body>
    <script src="/Site/Scripts/react-with-addons.min.js"></script>
    <script src="/Site/Scripts/jquery-2.1.1.min.js"></script>
    <script src="/Site/Scripts/underscore-min.js"></script>
    <script src="/Site/Scripts/backbone-min.js"></script>
    <script src="/Site/Scripts/JSXTransformer.js"></script>
    <script type="text/jsx" src="/Site/Scripts/components.js"></script>
    <script type="text/jsx" src="/Site/Scripts/app.js"></script>
  </body>
</html>
