@{
    Layout = "master.html";
}

@Include("main_menu.html", "Search")

<div class="row">
	<div class="span3">
		<input type="text" id="search-box" placeholder="Your search goes here.." />
	</div>
	<div class="span3">
		<a class="btn btn-primary btn-large btn-block" id="search-button" href="#">Search</a>
	</div>
</div>
	
<div class="row">
	<div class="span12">
		<hr />
		<h2 class="search-results">Search for something above.</h2>
		<ul class="search-results">
		</ul>
	</div>
</div>

@section scripts
{  
    <script type="text/javascript">
        $(function () {
            app.newSearch();
        });
    </script>
}